@import "swiper/css";
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: rabar;
  src: url("/fonts/rabar.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
  background-color: #fff;
  overflow-x: hidden;
}

body[dir="rtl"] {
  font-family: rabar;
}

.rtl_font {
  font-family: rabar;
}

/* customize the browser defaults */
::selection {
  background-color: #080808a6;
  color: #ffffff;
}

::-webkit-scrollbar {
  background-color: #ffffff;
  width: 7px;
  border-radius: 8px;
  height: 4px;
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #a09999;
  width: 7px;
  border-radius: 8px;
}
.custom_scroll::-webkit-scrollbar {
  @apply bg-backgroundSecondary;
}
.custom_scroll::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

.custom_container {
  @apply max-w-[1370px] w-full relative;
}

.section {
  @apply w-full min-h-[100vh] flex items-start justify-center;
}

.flex_center {
  @apply flex justify-center items-center;
}

.flex_start {
  @apply flex justify-start items-start;
}

.link_hover {
  @apply duration-300 hover:text-primary;
}

.primary_button {
  @apply bg-primary text-white sm:px-7 sm:py-3 px-4 py-2 sm:text-base text-sm rounded-md;
}

.change-font {
  font-family: "Poppins", sans-serif;
}

.custom_shadow {
  box-shadow: 76px 5px 400px 101px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 76px 5px 400px 101px rgba(0, 0, 0, 1);
  -moz-box-shadow: 76px 5px 400px 101px rgba(0, 0, 0, 1);
}
.custom_shape {
  width: 200px;
  height: 100px;
  border-radius: 100px / 70px;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.custom_button {
  @apply flex-shrink-0 rounded-2xl bg-gradient-to-r from-primary to-blue text-white;
}
button {
  outline: none;
}
.change_direction {
  direction: ltr;
}
.change_direction_alt {
  direction: rtl;
}
.swiper_dir {
  direction: ltr;
}
@media screen and (min-width: 768px) {
  .swiper_dir {
    direction: rtl;
  }
}
.swiper-pagination-bullet {
  @apply !bg-background !w-2 !h-2 !opacity-100 rounded-full mx-1 transition-all;
}

.swiper-pagination-bullet-active {
  @apply !bg-golden opacity-100 !w-10 !h-2 !rounded-md;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  z-index: 1;
  right: 91px;
  transform: rotate(90deg);
}
.card__arc path {
  fill: #ffffff;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}
.card__arc_alt {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -34%;
  z-index: 1;
  right: 91px;
  transform: rotate(-180deg);
}
.card__arc_alt path {
  fill: #ffffff;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}
@media screen and (max-width: 1024px) {
  .card__arc_alt {
    right: 30px;
  }
  .card__arc {
    right: 30px;
  }
}
@media screen and (max-width: 995px) {
  .card__arc_alt {
    right: 50px;
    bottom: -56%;
  }
  .card__arc {
    right: 50px;
  }
}
@media screen and (max-width: 972px) {
  .card__arc_alt {
    right: 70px;
  }
  .card__arc {
    right: 70px;
  }
}
@media screen and (max-width: 952px) {
  .card__arc_alt {
    right: 90px;
  }
  .card__arc {
    right: 90px;
  }
}
@media screen and (max-width: 932px) {
  .card__arc_alt {
    right: 100px;
  }
  .card__arc {
    right: 110px;
  }
}
@media screen and (max-width: 912px) {
  .card__arc_alt {
    right: 120px;
  }
  .card__arc {
    right: 120px;
  }
}
@media screen and (max-width: 892px) {
  .card__arc_alt {
    right: 140px;
  }
  .card__arc {
    right: 140px;
  }
}
@media screen and (max-width: 882px) {
  .card__arc_alt {
    right: 160px;
  }
  .card__arc {
    right: 160px;
  }
}
@media screen and (max-width: 862px) {
  .card__arc_alt {
    right: 180px;
  }
  .card__arc {
    right: 180px;
  }
}
@media screen and (max-width: 842px) {
  .card__arc_alt {
    right: 200px;
  }
  .card__arc {
    right: 200px;
  }
}
@media screen and (max-width: 822px) {
  .card__arc_alt {
    right: 220px;
  }
  .card__arc {
    right: 220px;
  }
}
@media screen and (max-width: 802px) {
  .card__arc_alt {
    right: 240px;
  }
  .card__arc {
    right: 240px;
  }
}
@media screen and (max-width: 792px) {
  .card__arc_alt {
    right: 260px;
  }
  .card__arc {
    right: 260px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #003366;
}

p,
span,
small {
  @apply tracking-wide leading-relaxed;
}
p {
  @apply text-justify;
}
/* Add to globals.css */

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}
.img_custom_shape {
  clip-path: polygon(
    50% 0%,
    83% 4%,
    100% 43%,
    88% 88%,
    68% 100%,
    32% 100%,
    10% 90%,
    4% 34%,
    17% 12%
  );
}

.css-lnmdiq5-menu {
  z-index: 30 !important;
}

/* Custom styling for the Swiper pagination dots moved to the bottom */

.hero-swiper-pagination {
  /* Aligns the dots horizontally in the center */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* Adds space between the dots */
}

.hero-swiper-pagination .swiper-pagination-bullet {
  /* Basic style for the dots */
  width: 10px;
  height: 10px;
  background-color: #dcc48c !important; /* A light gray color for inactive dots */
  opacity: 1;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.hero-swiper-pagination .swiper-pagination-bullet-active {
  /* Style for the active dot */
  background-color: #1b417b !important; /* Example primary color (you can change this) */
}

.card__arc_alumni {
  width: 40px; /* Now this works! Make it any size you want. */
  height: 40px; /* This will also work perfectly. */
  position: absolute;
  bottom: 58%;
  z-index: 21;
  left: 0;
  transform: rotate(90deg);
}

@media screen and (max-width: 1024px) {
  .card__arc_alumni {
    bottom: 57%;
  }
}
@media screen and (max-width: 640px) {
  .card__arc_alumni {
    bottom: 56%;
    width: 20px;
    height: 20px;
  }
}

/* The path styling remains simple */
.card__arc_alumni path {
  fill: #ffffff;
}
.card__arc_alumni_alt {
  width: 40px; /* Now this works! Make it any size you want. */
  height: 40px; /* This will also work perfectly. */
  position: absolute;
  bottom: 0;
  z-index: 21;
  right: -60px;
  transform: rotate(90deg);
}
@media screen and (max-width: 640px) {
  .card__arc_alumni_alt {
    right: -28px;
    width: 20px;
    height: 20px;
  }
}

/* The path styling remains simple */
.card__arc_alumni_alt path {
  fill: #ffffff;
}
.card__arc_president {
  width: 20px; /* Now this works! Make it any size you want. */
  height: 20px; /* This will also work perfectly. */
  position: absolute;
  bottom: 0;
  z-index: 21;
  left: -20px;
}

/* The path styling remains simple */
.card__arc_president path {
  fill: #ffffff;
}
.card__arc_president_alt {
  width: 20px; /* Now this works! Make it any size you want. */
  height: 20px; /* This will also work perfectly. */
  position: absolute;
  top: -20px;
  z-index: 21;
  right: 0;
}

/* The path styling remains simple */
.card__arc_president_alt path {
  fill: #ffffff;
}
